<div class="wrapper">
  <h1>Mis Héroes</h1>
  <div class="wrapper__filters">
    <form [formGroup]="filterForm">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Superman" formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Id</mat-label>
        <input matInput placeholder="1" type="number" formControlName="id">
      </mat-form-field>
    </form>
    <button mat-fab color="primary" aria-label="add heroe" (click)="addHeroe()">
      <mat-icon aria-hidden="false" aria-label="add heroe">add</mat-icon>
    </button>
  </div>
  <app-heroes-list [response]="response"></app-heroes-list>
</div>