.wrapper {
  padding: 70px 135px;
  &__filters {
    display: flex;
    justify-content: space-between;
    margin: 12px;
    
    form {
      width: 40%;
      display: flex;
      justify-content: space-between;
    }
  }
}