<div mat-dialog-content>
  <p>Está seguro que desea eliminar el elemento?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-button mat-dialog-close="ok" cdkFocusInitial>Ok</button>
</div>