.wrapper {
  padding: 70px 135px;
  width: 70%;

  form {
    display: flex;
    flex-direction: column;

    mat-form-field {
      margin-bottom: 20px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;

    button {
      margin-left: 10px;
    }
  }
}