<div class="wrapper">
  <h1>{{ title }}</h1>
  <form [formGroup]="heroeForm">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Superman" formControlName="name" appUppercase>
      <mat-error *ngIf="heroeForm?.get('name')?.errors?.required">Campo requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Poder </mat-label>
      <mat-select formControlName="power">
          <mat-option value="Electricidad">Electricidad</mat-option>
          <mat-option value="Vuelo">Vuelo</mat-option>
          <mat-option value="Hielo">Hielo</mat-option>
          <mat-option value="Mental">Mental</mat-option>
          <mat-option value="Fuerza">Fuerza</mat-option>
          <mat-option value="Rapidez">Rapidez</mat-option>
      </mat-select>
      <mat-error *ngIf="heroeForm?.get('power')?.errors?.required">Campo requerido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fuerza</mat-label>
      <input matInput placeholder="1" min="0" max="100" type="number" formControlName="strength">
      <mat-error *ngIf="heroeForm?.get('strength')?.errors?.required">Campo requerido</mat-error>
      <mat-error *ngIf="heroeForm?.get('strength')?.errors?.max">El campo no puede ser mayor a 100</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Agilidad</mat-label>
      <input matInput placeholder="1" min="0" max="100"  type="number" formControlName="agility">
      <mat-error *ngIf="heroeForm?.get('agility')?.errors?.required">Campo requerido</mat-error>
      <mat-error *ngIf="heroeForm?.get('agility')?.errors?.max">El campo no puede ser mayor a 100</mat-error>
    </mat-form-field>
  </form>

  <div class="wrapper__buttons">
    <button mat-raised-button (click)="goBack()">Cancelar</button>
    <button mat-raised-button color="primary" [disabled]="heroeForm.invalid" (click)="acceptForm()">Aceptar</button>
  </div>
</div>