<div class="wrapper">
  <div class="mat-elevation-z8">
    <table mat-table  [dataSource]="dataSource">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name | uppercase}} </td>
      </ng-container>
  
      <ng-container matColumnDef="power">
        <th mat-header-cell *matHeaderCellDef> Poder </th>
        <td mat-cell *matCellDef="let element"> {{element.power}} </td>
      </ng-container>
      
      <ng-container matColumnDef="strength">
        <th mat-header-cell *matHeaderCellDef> Fuerza </th>
        <td mat-cell *matCellDef="let element"> {{element.strength}} </td>
      </ng-container>

      <ng-container matColumnDef="agility">
        <th mat-header-cell *matHeaderCellDef> Agilidad </th>
        <td mat-cell *matCellDef="let element"> {{element.agility}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"  class="actions">  
          <mat-icon class="icon" aria-hidden="false" aria-label="edit icon" (click)="editHeroe(element)">edit </mat-icon>
          <mat-icon class="icon"  aria-hidden="false" aria-label="delete icon" (click)="confirmDelete(element)">delete</mat-icon>
        </td>
      </ng-container> 
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
